@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


*{margin: 0;
padding: 0;
box-sizing: border-box;}

body{background-color: rgba(18, 18, 20, 1);
color: rgba(249, 249, 249, 1);
font-family: Open Sans;}

header h1{background-image: linear-gradient(to left, rgba(255, 38, 122, 1), rgba(255, 166, 52, 1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
padding: 30px;}
.tela-de-login{display: flex;
flex-direction: column;
align-items: center;}

.tela-de-login h1{
font-size: 64px;
font-weight: 300;
text-align: center;}

.tela-de-login h2{font-size: 40px;
font-weight: 300;}


.perfil{display: flex;
align-items: center;
justify-content: space-around;
padding: 20px;
flex-wrap: wrap;}

.perfil-01{display: flex;
flex-direction: column;
align-items: center;}

.perfil-02{display: flex;
    flex-direction: column;
    align-items: center;}

    .perfil-03{display: flex;
        flex-direction: column;
        align-items: center;}

.icone-perfil-01{background-color: rgba(120, 31, 209, 1);
width: 176px;
height: 176px;
border-radius: 100%;}

.icone-perfil-02{background-color: rgba(77, 240, 243, 1);
    width: 176px;
    height: 176px;
    border-radius: 100%;}

.icone-perfil-03{background-color: rgba(100, 250, 155, 1);
    width: 176px;
    height: 176px;
    border-radius: 100%;}

.perfil div p{padding: 20px;
font-size: 32px;
font-weight: 400;}

.btn{display: flex;
justify-content: center;}

.btn button{width: 229px;
height: 59px;
background-color: rgba(24, 24, 24, 1);
border:none;
color: rgba(249, 249, 249, 1);
font-size: 20px;
cursor: pointer;}

@media only screen and (max-width:700px){

    .tela-de-login h1{width: 100%;
    font-size: 30px;}
    .tela-de-login h2{font-size: 20px;}

    .tela-de-login{padding-bottom: 40px;}

    .icone-perfil-01{background-color: rgba(120, 31, 209, 1);
        width: 80px;
        height: 80px;
        border-radius: 100%;}
        
        .icone-perfil-02{background-color: rgba(77, 240, 243, 1);
            width: 80px;
            height: 80px;
            border-radius: 100%;}
        
        .icone-perfil-03{background-color: rgba(100, 250, 155, 1);
            width: 80px;
            height: 80px;
            border-radius: 100%;}

            .perfil div p{padding: 20px;
                font-size: 18px;
                font-weight: 400;}

                .btn button{width: 169px;
                    height: 50px;
                    background-color: rgba(24, 24, 24, 1);
                    border:none;
                    color: rgba(249, 249, 249, 1);
                    font-size: 18px;
                    cursor: pointer;}
}

    


